.sidebar {
	position: sticky;
	top: 0;
	left: 0;

	z-index: 10;

	width: 25%;
	height: 100%;
	display: visible;

	display: flex;
	flex-direction: column;

	background-color: $backFirst;

	@include for_breakpoint(mobile) {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
	min-width: 12rem;

	& * {
		color: white;
	}
}

.sidebar-container {
	height: 100%;
	margin-top: 6rem;

	display: flex;
	flex-direction: column;
	// align-items: center;
}

.sidebar-collections {
	display: flex;
	flex-direction: column;
	align-items: center;

	> form {
		display: flex;
		justify-content: center;
	}
}

.new-collection {
	background-color: $backFirst;
	border: none;

	font-weight: 500;
	font-size: 16px;

	padding: 0.2rem 0.5rem;
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	> * {
		fill: white;
	}
}

.new-collection-input {
	border: none;
	padding: 0.35rem 1rem;
	width: 90%;
	font-size: 16px;

	background-color: $backThird;
}

.collection {
	margin-top: 0.2rem;
	padding: 0.2rem 0.5rem;
	border: none;
	background-color: $backFirst;
	text-align: left;
	font-weight: 500;
	font-size: 1.05rem;
	width: 100%;

	transition: color 0.2s;
}

.collection-list {
	padding: 1rem;
	width: 100%;
}

.sidebar-icon {
	z-index: 99 !important;
	left: 1rem;
	margin: 0;
	padding: 1rem 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;

	> * {
		fill: white;
	}
}
