@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// global imports

@import "./mixins.scss";
@import "./variables.scss";

// component imports

@import "./navbar/navbar.scss";
@import "./container/container.scss";

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
#root {
	background-color: $backFirst;
}

.app,
.loading-screen {
	min-height: 100vh;
	background-color: $backFirst;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-screen {
	display: flex;
	justify-content: center;
	align-items: center;

	& *:not(:first-child) {
		margin-left: 15px;
		color: $textPrimary;
		font-weight: 700;
	}
}

.card {
	margin: 1rem 0.5rem 1rem 0.5rem;
	border: 1px solid $backThird;
	background-color: $backSecond;
	min-width: 13rem;
	padding: 2rem;

	cursor: pointer;

	& * {
		color: $textPrimary;
	}

	&:first-of-type {
		margin-left: 1rem;
	}

	&:hover {
		background-color: $backForth;
	}
}

.login {
	font-weight: 600;
	color: $textPrimary;
	background-color: $buttonFirst;
	border: none;
	border-radius: 4px;
	min-height: 32px;
	min-width: 12rem;
	cursor: pointer;
	display: flex;
	align-items: center;

	transition: background-color 0.1s;

	&:hover {
		background-color: $buttonSecond;
	}
}
