$backFirst: rgb(21, 21, 21);
$backSecond: rgb(30, 30, 30);
$backThird: rgb(39, 39, 39);
$backForth: rgb(47, 47, 47);

$buttonFirst: rgb(47, 51, 58);
$buttonSecond: rgb(58, 65, 77);

$textPrimary: rgb(230, 230, 230);
