$backFirst: #101010;
$backSecond: rgb(30, 30, 30);
$backThird: rgb(39, 39, 39);
$backFourth: rgb(47, 47, 47);

$lineColor: #050505;

$buttonFirst: rgb(51, 54, 58);
$buttonSecond: rgb(58, 65, 77);
$buttonThird: rgb(139, 183, 243);

$logoutFirst: rgb(200, 50, 50);
$logoutSecond: rgb(220, 80, 80);

$textPrimary: rgb(230, 230, 230);
