.footer {
	position: fixed;
	bottom: 1.75rem;
	left: 50%;
	transform: translate(-50%);

	border: 2px solid rgb(73, 73, 73);
	border-radius: 99px;
	padding: 10px;

	color: white;

	z-index: 10;
}

.footer-open {
	height: 80%;
	width: 100%;
	border-radius: 50px;
	bottom: -3rem;
	background-color: $backFirst;

	transition: 0.3s;
}

.footer-close {
	transition: 0.2s;
}

.footer-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: none;
}

.new-form {
	padding: 0 1rem;

	display: flex;
	flex-direction: column;

	> * {
		color: white;
		background-color: $backFourth;
		border: none;
		padding: 10px;
		border-radius: 6px;
	}

	> *:not(:first-child) {
		margin-top: 1rem;
	}

	> input,
	select {
		font-size: 16px;
	}

	> button {
		background: #00f260; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#0575e6,
			#00f260
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#0575e6,
			#00f260
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}

.new-form-input {
}

.select-wrapper {
	position: relative;
	display: inline-block;
}
.select-wrapper:after {
	content: "\0025BC";
	font: normal normal normal 12px/1 FontAwesome;
	color: white;
	right: 14px;
	top: 4px;
	height: 26px;
	padding: 15px 0px 0px 8px;
	position: absolute;
	pointer-events: none;
}

select,
option {
	-webkit-appearance: none;
}

.new-form-select {
	background-color: $backFourth;
	color: white;
}
