.container {
	flex: 0 1 auto;

	background-color: $backFirst;
	// display: flex;
	// justify-content: space-around;
	// flex-wrap: wrap;

	display: grid;

	margin: 1rem;

	// > * {
	// 	@include for_breakpoint(mobile small-tablet tablet desktop) {
	// 		margin: 1rem;
	// 	}
	// }
}

.container-open {
	@include for_breakpoint(mobile small-tablet tablet) {
		grid-template-columns: 1fr;

		> *:not(:first-child) {
			margin-top: 1rem;
		}
	}

	@include for_breakpoint(desktop) {
		grid-template-columns: 1fr 1fr;

		> *:nth-child(2n) {
			margin-left: 0.5rem;
		}
		> *:nth-child(2n -1) {
			margin-right: 0.5rem;
		}
		> *:nth-child(n + 3) {
			margin-top: 1rem;
		}
	}
}

.container-closed {
	@include for_breakpoint(mobile small-tablet) {
		> *:nth-child(n + 1) {
			margin-top: 1rem;
		}
	}

	@include for_breakpoint(tablet desktop) {
		grid-template-columns: 1fr 1fr;

		> *:nth-child(2n) {
			margin-left: 0.5rem;
		}
		> *:nth-child(2n -1) {
			margin-right: 0.5rem;
		}
		> *:nth-child(n + 3) {
			margin-top: 1rem;
		}
	}
}

a,
u {
	text-decoration: none;
}

.main-div {
	height: 100vh;
	overflow-y: scroll !important;

	&::-webkit-scrollbar {
		width: 0.5em;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(226, 226, 226);
		border-radius: 4px;
		border: 1px solid slategrey;
	}
}

.card {
	flex: 1 0 40%;
	min-width: 10rem;
	min-height: 7rem;

	position: relative;
	border: 1px solid $backThird;
	border-radius: 6px;
	background-color: $backSecond;
	min-width: 13rem;

	cursor: pointer;

	& * {
		color: $textPrimary;
	}

	&:hover {
		background-color: $backFourth;
	}
}

.card-content {
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.card-toolbar {
	position: absolute;
	top: 5px;
	right: 5px;

	display: flex;

	> :not(:last-child) {
		margin-right: 15px;
	}
}

.delete-button {
	// position: absolute;
	// top: 5px;
	// right: 5px;
	background-color: $logoutFirst;
	border: none;
	border-radius: 4px;

	font-weight: 600;
	font-size: 1.1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 4px 8px;
}

.copy-button {
	background-color: rgb(97, 97, 97);
	border: none;
	border-radius: 4px;
	padding: 0 8px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.toolbar {
	color: white;
	margin: 1rem auto;

	display: flex;
	justify-content: flex-end;

	> * {
		margin-right: 15px;
	}
}

.toolbar-new {
	border: none;
	background-color: $buttonThird;
	padding: 0.3rem 0.4rem;
	border-radius: 5px;

	> * {
		fill: rgb(255, 255, 255);
	}
}
