.container {
	background-color: $backFirst;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	@include for_breakpoint(mobile) {
		> :not(:first-child) {
			margin-top: 0;
		}
	}

	margin-top: 1rem;

	> div {
		@include for_breakpoint(mobile) {
			margin: 1rem;
		}
	}
}

.card {
	flex: 1 0 45%;
	min-width: 10rem;
	min-height: 7rem;

	position: relative;
	border: 1px solid $backThird;
	border-radius: 6px;
	background-color: $backSecond;
	min-width: 13rem;
	padding: 2rem;

	cursor: pointer;

	& * {
		color: $textPrimary;
	}

	&:hover {
		background-color: $backFourth;
	}
}

.delete-button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: $logoutFirst;
	border: none;
	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px 9px;
}

.toolbar {
	color: white;
	margin: 1rem auto;

	display: flex;
	justify-content: flex-end;

	> * {
		margin-right: 15px;
	}
}

.toolbar-new {
	border: none;
	background-color: $buttonThird;
	padding: 0.3rem 0.4rem;
	border-radius: 5px;

	> * {
		fill: rgb(255, 255, 255);
	}
}
